<!DOCTYPE html>
<html lang="pt-br" ng-app="thebestoferta">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Anunciar</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <style type="text/css">
    .erro{
    	border: #C42924 solid 1px;
    }


    </style>
    <script src="js/angular.js"></script>
    <script type="text/javascript">
    	angular.module("thebestoferta", []);
    	angular.module("thebestoferta").controller("thebestofertaCTRL", function ($scope,$http) {
			$scope.app = "thebestoferta";
			$scope.usuarios = [];

			var carregarLista = function () {
				$http.get("pegarAnunciantes.php").success(function (data) {
					$scope.usuarios = data;
				}).error(function (data) {
					$scope.message = "Aconteceu um problema: " + data;
				});
			};

			$scope.adicionarUsuario = function (usuario) {
				$scope.usuarios.push(angular.copy(usuario));
				delete $scope.usuario;
				$scope.cadaUsu.$setPristine();
			};

			$scope.apagarUsuario = function (usuario,usuarios) {
				index = usuarios.indexOf(usuario);
				if(index > -1)
					usuarios.splice(index,1);
				$scope.usuarios = usuarios;
			};

			carregarLista();
		});
    </script>
  </head>
  <body ng-controller="thebestofertaCTRL">
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="navbar-header">
						 
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button> <a class="navbar-brand" href="" id="font-menu">TheBestOferta</a>
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background:#34495e;">
						<ul class="nav navbar-nav">
							<li>
								<a href="#" id="font-menu">Anuncios</a>
							</li>
							<li>
								<a href="#" id="font-menu">Anunciar</a>
							</li>
							<li>
								<a href="#" id="font-menu">Empresas</a>
							</li>
							<li>
								<a href="#" id="font-menu">Contato</a>
							</li>
							<li>
								<a href="#" id="font-menu">Login</a>
							</li>
						</ul>
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar">
							</div> 
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search"></span> Buscar
							</button>
						</form>
						
					</div>
					
				</nav>
			</div>
		</div><br><br><br><br><br><br><br>
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-8" style="padding: 20px;">
				<h3 class="text-center">
					Anunciar {{$invalid}}
				</h3>
				<form class="form-horizontal" role="form" id="cadastro" method="post" name="cadaUsu">
					<div class="form-group">
						 
						<label for="txtnome" class="col-sm-2 control-label">
							Nome
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="txtnome" name="nome" ng-model="usuario.nome" ng-required="true">
							<div style="color:#C42924;text-align: center;padding: 5px" ng-show="cadaUsu.nome.$error.required && cadaUsu.nome.$dirty" class="alert alert-danger">Preencha o campo Nome!!</div>
						</div>
					</div>
					<div class="form-group">
						 
						<label for="txtnomeempresa" class="col-sm-2 control-label">
							Nome Empresa
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="txtnomeempresa" name="empresa" ng-model="usuario.empresa" ng-required="true">
							<div style="color:#C42924;text-align: center;padding: 5px" ng-show="cadaUsu.empresa.$error.required && cadaUsu.empresa.$dirty" class="alert alert-danger">Preencha o campo Nome Empresa!!</div>
						</div>
					</div>
					<div class="form-group">
						 
						<label for="txtemail" class="col-sm-2 control-label">
							Email
						</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="txtemail" name="email" ng-model="usuario.email" ng-required="true">
							<div style="color:#C42924;text-align: center;padding: 5px;" ng-show="cadaUsu.email.$error.required && cadaUsu.email.$dirty" class="alert alert-danger">Preencha o campo Email!!</div>
						</div>
					</div>
					<div class="form-group">
						 
						<label for="txtsenha" class="col-sm-2 control-label">
							Senha
						</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="txtsenha" name="senha" ng-model="usuario.senha" ng-required="true" ng-minlength="10"><br>
							<div style="color:#C42924;text-align: center;padding: 5px;" ng-show="cadaUsu.senha.$error.required && cadaUsu.senha.$dirty" class="alert alert-danger">Preencha o campo Senha!!</div>
							<div style="color:#C42924;text-align: center;padding: 5px;;" ng-show="cadaUsu.senha.$error.minlength" class="alert alert-danger">A Senha deve ter no minimo 6 caracteres!!</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								 
								<label>
									<input type="checkbox" id="chtermo" ng-model="usuario.termos" ng-required="true"/> <b>Li e Concordo com os <a href="#" style="text-decoration:none; color:green;">Termos e Condições de Uso</a>!
								</label>
								<div style="color:#C42924;text-align: center;padding: 5px;" ng-if="!usuario.termos" class="alert alert-danger">Aceite os termos de uso!!</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							 
							<button type="submit" class="btn btn-default" id="btncadastra" ng-click="adicionarUsuario(usuario)" ng-disabled="cadaUsu.$invalid">
								Cadastrar
							</button>
							
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-3">
				<div><span>{{$scope.message}}</span></div>
				<table class="table table-bordered table-condesed" id="tabela">
					<thead>
						<tr>
							<th> Nome </th>
							<th> Email </th>
							<th> Excluir </th>
						</tr>
					</thead>
					<tbody ng-repeat="usuario in usuarios">
						<td>{{usuario.nome}}</td>
						<td>{{usuario.email}}</td>
						<td><a><span class='glyphicon glyphicon-trash' ng-click="apagarUsuario(usuario,usuarios)"></span></a></td>
					</tbody>
				</table>
			</div>
		</div><br><br><br>
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation"style="background:#34495e;">
					<center class="footer">The Best Oferta © 2016<p>Gustavo Vitorino - <a href="http://hu3tech.blogspot.com.br/" class="footer">Hu3Tech
					</a></p></center>					
				</nav>
			</div>
		</div>
	</div>
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>